.sidebar {
  width: 260px;
  background-color: #ffffff;
  height: 100vh;
  border: 1px solid #e5e8f0;
  /* vertical | horizontal */
  padding: 28px 20px;
}
.logo {
  width: 100%;
  gap: 10px;
}
.logo-icon {
  width: 38px;
  height: 38px;
  background-color: #2a52be;
  border-radius: 10px;
}

.logo-text {
}

.logo-text-color {
  color: #2a52be;
}

.nav {
  //background-color: yellow;
  width: 100%;
}

.nav-label {
  text-transform: uppercase;
  color: #9ba3b5;
}

::ng-deep a {
  text-decoration: none;
}
::ng-deep .p-ripple.p-button.p-component {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background: none;
  border: none;
  font-size: smaller;
  color: #5a6478;
  gap: 10px;

  &:hover {
    border-color: transparent !important;
    box-shadow: none !important;
    background-color: #f0f2fa;
    color: #5a6478;
  }
}

::ng-deep a.active .p-ripple.p-button.p-component {
  color: #2a52be;
}
.nav_section {
  width: 100%;
}

.nav_label {
  text-transform: uppercase;
  color: #9ba3b5;
}
.avatar {
  width: 100%;
  margin-top: auto;
  height: 100px;
}

.role {
  border-radius: 10px;
  color: #2a52be;
  background-color: #f0f2fa;
}
